

body{
  margin: 0;
  text-align: center;
  font-family: "Comic Neue", serif;
  }

h1{
  color: #707070;
  line-height: normal;
  font-weight: lighter;
  margin-top: 0;
  font-size: 70px;
  font-family: "Sacramento", serif;
}
h2{
  color: #707070;
  font-family: "Roboto Mono", serif;
}
h3{
  color: #707070;
  font-family: "Roboto Mono", serif;
}
p{
  font-weight: normal;
  color: #92817a;
      font-size: 20px;
}
hr{
  border-style: none;
border-top-style: dotted;
border-color: #cee397;
border-width: 5px;
width: 18%;
}
label{
  color: #707070;
}
.top-container{
  background-color:#d2f5e3 ;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  background-color: #bedbbb;
}
.bottom-container{
  background-color: #8db596;
}
.skills{
  background-color: #bedbbb;
}
.contact-me{
  background-color: #8db596;
}
.comment{
    background-color: #8db596;
}
.top-cloud{
  position:absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 100px;
}
.mountain{
  width: 250px;
  height: 100px;
}
.angela{
  width: 150px;
  height: 150px;
}
.webdesign{
  width: 100px;
  height: 100px;
}
.wing{
  width: 200px;
  height: 130px;
}
.submit{
  color: #9ad3bc;
  background-color: #333456;
}
.name{
  background-color: #f3eac2;
}
.email{
  background-color: #f3eac2;
}
.checkbox{
  background-color: #f3eac2;
}
.textarea{
  background-color: #f3eac2;
}
